<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Trabajo práctico NSQL</h5>
          
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" [routerLink]="['/']">Menú peliculas</a></li>
            <li><a class="grey-text text-lighten-3" [routerLink]="['/personajes']">Menú personajes</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019
      
      </div>
    </div>
  </footer>